/*

  -- COOOOOLORS
  -- https://coolors.co/e8c547-30323d-4d5061-5c80bc-f1f2eb

 */

body{
  padding: 0;
  margin: 0;
  background-color: #F1F2EB;
}

.gray{
  color: #eee;
}

.nav {
  width: 100%;
  min-height: 70px;
  height: 10vh;
  max-height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #30323D;
}

.nav .nav-text {
  display: inline-block;
  color: #E8C547;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  font-weight: 300;
  opacity: 1; 
}

.nav .nav-list {
  display: inline-block;
  padding: 13px 50px;
  margin: 0px; 
}

.nav .nav-list-item {
  display: inline-block;
  padding: 0px 15px;
  color: #E8E9EB;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
}

.link{
  text-decoration: none;
}

.link:hover{
  opacity: .6;
  color: rgba(255, 255, 255, 0.6)
}

.cont{
  width: 50%;
  margin: 50px auto 50px auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-right: 4px solid #4D5061; 
  border-bottom: 4px solid #4D5061; 
}

.form{
  padding: 5px;
}

.story-title{
  padding: 10px;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #4D5061;
  background-color: #ddd;
  border: none;
  border: 1px solid #f6f6f6;
}


.story-title:active, .story-title:focus{
  outline: none;
  border: 1px solid #aaa;
}

.textarea{
  width: 99%;
  max-width: 99%;
  height: 125px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #4D5061;
  background-color: #ddd;
  border: none;
  border: 1px solid #f6f6f6;
}

.textarea:active, .textarea:focus{
  outline: none;
  border: 1px solid #aaa;
}

.story-update{
  margin: 20px 0;
}

.submit{
  width: 100%;
  background-color: #30323D;
  color: #E8C547;
  border: none;
  padding: 10px 0px;
  margin: 20px 0;
}

.submit:hover{
  opacity: .9;
  cursor: pointer;
}

.submit:focus{
  outline: none;
}

.submit-inv{
  width: 100%;
  background-color: #30323D;
  color: #E8C547;
  border: none;
  padding: 10px 0px;
  margin: 15px 0;
}

.submit-inv:hover{
  opacity: .9;
  cursor: pointer;
}

.submit-inv:focus{
  outline: none;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 10px;
  color: #30323D;
}

.para{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 25px 10px;
  color: #4D5061;
}

.story-link{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 15px 0;
  color: #30323D;
}

.story-link-color{
  text-decoration: none;
  color: #5C80BC;
}

.story-link-color:hover{
  color: rgba(92, 128, 188, .6);
}


.story{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}

.story:nth-child(1){
  margin: 0;
  border-top: none;
}

.story-inner{
  padding: 15px;
}

.lbl{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 10px 0;
}

.success{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #fff;
  background-color: #8FCB9B;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
