body{
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
}

.nav {
  width: 100%;
  min-height: 70px;
  height: 10vh;
  max-height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #222;
}

.nav .nav-text {
  display: inline-block;
  color: #E8E9EB;
  font-family: "Oxygen", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  font-weight: 300;
  opacity: 1; 
}

.nav .nav-list {
  display: inline-block;
  padding: 13px 50px;
  margin: 0px; 
}

.nav .nav-list-item {
  display: inline-block;
  padding: 0px 15px;
  color: #E8E9EB;
  font-family: "Oxygen", sans-serif; 
}

.link{
  text-decoration: none;
}

.link:hover{
  opacity: .6;
  transition: .3s;
}

.cont{
  width: 50%;
  margin: 50px auto 50px auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-right: 3px solid #cfcfcf; 
  border-bottom: 3px solid #cfcfcf; 
}

.form{
  padding: 5px;
}

.textarea{
  width: 99%;
  max-width: 99%;
  height: 125px;
  padding: 5px;
}

.submit{
  width: 100%;
  background-color: #222;
  color: #ddd;
  border: none;
  padding: 10px 0px;
  margin: 10px 0;
}

.submit:hover{
  opacity: .9;
}

.submit:focus{
  outline: none;
}

.title{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 2em;
  margin: 10px;
}

.para{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1em;
  margin: 20px 10px;
}

.story{
  display: inline-block;
  background-color: #222;
  color: #eee;
  margin-top: 20px;
  width: 100%;
}

.story:nth-child(1){
  margin: 0;
}

.story-inner{
  padding: 15px;
}

.lbl{
  display: block;
  font-family: sans-serif;
  font-weight: 200;
  margin: 10px 0;
}

.story-title{
  padding: 5px;
  width: 60%;
}

.success{
  font-family: sans-serif;
  font-weight: 200;
  color: #fff;
  background-color: #8FCB9B;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
