/*

  -- COOOOOLORS
  -- https://coolors.co/e8c547-30323d-4d5061-5c80bc-f1f2eb

 */

body{
  padding: 0;
  margin: 0;
  background-color: #F1F2EB;
}

.margin-v-25{
  margin: 25px auto !important;
}

.gray{
  color: #eee;
}

.nav {
  width: 100%;
  min-height: 70px;
  height: 10vh;
  max-height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #30323D;
}

.nav .nav-text {
  display: inline-block;
  color: #E8C547;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  font-weight: 300;
  opacity: 1; 
}

.nav .nav-list {
  padding: 13px 50px;
  margin: 0px; 
}

.nav .nav-list-item {
  display: inline-block;
  padding: 0px 15px;
  color: #E8E9EB;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
}

.link{
  text-decoration: none;
}

.link:hover{
  opacity: .6;
  color: rgba(255, 255, 255, 0.6)
}

.cont{
  width: 50%;
  margin: 25px auto 50px auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-right: 4px solid #4D5061; 
  border-bottom: 4px solid #4D5061; 
}

.form{
  padding: 5px 0;
}

.story-title, .auth-textbox{
  padding: 10px;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #4D5061;
  background-color: #ddd;
  border: none;
  border: 1px solid #f6f6f6;
}


.story-title:active, .story-title:focus, 
.story-author:active, .story-author:focus,
.form-dropdown:active, .auth-textbox:focus{
  outline: none;
  border: 1px solid #aaa;
}

.story-author, .form-dropdown{
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #4D5061;
  background-color: #ddd;
  border: none;
  border: 1px solid #f6f6f6;
  width: 60%;
}

.textarea{
  width: 99%;
  max-width: 99%;
  height: 125px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #4D5061;
  background-color: #ddd;
  border: none;
  border: 1px solid #f6f6f6;
}

.textarea:active, .textarea:focus{
  outline: none;
  border: 1px solid #aaa;
}

.story-update{
  margin: 20px 0;
}

.submit{
  width: 100%;
  background-color: #30323D;
  color: #E8C547;
  border: none;
  padding: 10px 0px;
  margin: 20px 0;
}

.submit:hover{
  opacity: .9;
  cursor: pointer;
}

.submit:focus{
  outline: none;
}

.submit[disabled]{
  opacity: .8;
}

.submit-inv{
  width: 100%;
  background-color: #30323D;
  color: #E8C547;
  border: none;
  padding: 10px 0px;
  margin: 15px 0;
}

.submit-inv:hover{
  opacity: .9;
  cursor: pointer;
}

.submit-inv:focus{
  outline: none;
}

.inline{
  display: inline-block !important;
}

.order-by{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7%; 
}

.order-by .form-dropdown {
  width: 25%;
}

.order-by .lbl {
  margin: 0 10px 0 0;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 10px 0;
  color: #30323D;
}

.para{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 15px 0px;
  color: #4D5061;
  white-space: pre-wrap;
}

.story-link{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 15px 0;
  color: #30323D;
}

.story-link-color{
  text-decoration: none;
  color: #5C80BC;
}

.story-link-color:hover{
  color: rgba(92, 128, 188, .6);
}


.story{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}

.story:nth-child(1){
  margin: 0;
  border-top: none;
}

.story-inner{
  padding: 15px;
}

.lbl{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 15px 0 0 0;
}

.label-desc{
  display: block;
  color: #6D8091;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .75em;
  margin: 5px 0;
}

.success{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #fff;
  background-color: #8FCB9B;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.statistics-bar{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.statistics-item{
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  margin: 5px 5px;
  color: #aaa;
}

.upvote, .downvote{
  border: none;
  background-color: #e9e9e9;
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
  font-size: 1.25em;
  transition: .3s;
  padding: 0;
  margin: 0 5px;
}

.upvote:active, .upvote:focus, 
.downvote:active, .downvote:focus{
  outline: none;
}

.upvote:hover, .upvote-display{
  color: #8FCB9B;
}

.downvote:hover, .downvote-display{
  color: #bd1f1e;
}

.upvote-display, .downvote-display{
  display: inline-block;
  font-weight: 700;
  font-size: 1em;
}

.downvote{
  transform: rotate(180deg);
}

.author{
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: right;
  margin: 20px 25px;
}

.author-inner{
  color: #E8C547;
}

.half{
  width: 50%;
  margin: -1px;
  display: inline-block;

}

.complete{
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  font-weight: 500;
  margin: 20px 0px;
  color: #E8C547;
  border: 1px solid #E8C547;
  padding: 5px;
}

.ratings{
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox{
  font-family: 'Roboto', sans-serif;
  color: #4D5061;
  padding-top: 5px;
  margin: 10px;
  font-size: 1em;
  text-align: center;
}

.chk{
  margin: 0px;
  display: inline-block;
  cursor: pointer;
}

.display-flex{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-cont{
  width: 30%;
  margin: 0;
  padding: 20px;
  background-color: #f6f6f6;
  border-right: 4px solid #4D5061; 
  border-bottom: 4px solid #4D5061; 
}

.auth-textbox{
  padding: 10px 2%;
  width: 96%;
  margin: 10px 0 0 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 4px 0 0;
  border-radius: 0%;
  vertical-align: middle;
  background-color: #4D5061;
  border: 3px solid rgba(0, 0, 0, .2);
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  width: 12px;
  height: 12px;
  border: 3px solid rgba(77, 80, 97, 1);
  background-color: #E8C547;
}

.has-error.ng-invalid{
  border: 1px solid #E8C547;
}

.help-block{
  font-family: 'Roboto', sans-serif;
  color: #E8C547;
  margin: 0;
}


@media (max-width: 1150px){

  body{
    background-color: #f6f6f6;
  }

  .nav {
    min-height: 120px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
  }

  .nav .nav-list{
    padding: 13px 0;
  }
  
  .cont{
    width: 100%;
    margin: 0;
    padding: 25px 0;
    border: none;
  }

  .cont-inner{
    padding: 20px 30px;
  }

  .story-title, .story-author{
    width: 98%;
  }
  
  .story-genre{
    width: 100%;
  }
  
  .half{
    width: 100%;
  }

  .margin-v-25{
    margin: 25px auto 0px auto !important;
  }

  .cont{
    padding: 0 0;
  }

  .cont-inner{
    padding: 0 30px;
  }

  .form-dropdown{
    width: 100%;
  }

  .order-by{
    width: 80%;
    align-items: center;
    margin: 0; 
  }

  .order-by .form-dropdown {
    width: 70%;
  }

} 



