<div class="cont margin-v-25">
	<div class="cont-inner">
		<h1 class="title">Collaborate</h1>
		<p class="para">Find and add to someone elses story, they are randomly selected so you have the chance to get any story that is not marked as completed. Read the story and decide if there is anything you can add to improve and move it closer to completion.</p>
	</div>
</div>

<div class="cont">
	<div class="cont-inner">
	
		<status-bar></status-bar>

		<story-display></story-display>

		<button class="submit" ng-click="getNew()">Get different story</button>

		<story-update ng-hide="story.complete"></story-update>
	
	</div>
</div>

