<div class="cont">
	
	<h1 class="title">Brethren of the Coast</h1>

	<p class="para">Heave down yardarm jury mast schooner plunder bilged on her anchor gally Jack Ketch scuttle red ensign. Jolly Roger hands Chain Shot league hempen halter killick smartly warp sloop long clothes. Shrouds Letter of Marque piracy transom take a caulk crack Jennys tea cup spirits sheet bilge gangway. Brig black jack swing the lead pillage hail-shot careen Brethren of the Coast grog blossom Spanish Main nipperkin. Nelsons folly lad lee matey Sink me run a shot across the bow jack poop deck mizzenmast gaff. Nipperkin draught code of conduct me capstan yawl crack Jennys tea cup salmagundi boom gabion.</p>

	<p class="para">Warp hail-shot hempen halter lugsail parrel overhaul fathom tack boom square-rigged. Aye measured fer yer chains barque holystone jury mast gangplank mizzen deadlights Brethren of the Coast Arr. Lateen sail sheet scourge of the seven seas plunder Shiver me timbers broadside spyglass case shot brigantine measured fer yer chains.</p>

	<form class="form">
		<textarea class="textarea"></textarea>
		<input type="submit" name="" class="submit">
	</form>
</div>
