<div class="cont margin-v-25">
	<div class="cont-inner">
		<h1 class="title">Create A Story</h1>
		<p class="para">Start a journey, create a world ready for others to add to.</p>
	</div>
</div>

<div class="cont">
	<div class="cont-inner">

		<status-bar></status-bar>

		<p class="story-link" ng-style="link">Story link: <a ng-href="{{ link }}" class="story-link-color">{{ link }}</a></p>

		<form ng-submit="send()" class="form">
			<label class="lbl">Title </label>
			<span class="label-desc">But what will you call it?</span>
			<input type="text" name="title" class="story-title" ng-model="title">
			<label class="lbl">Story</label>
			<span class="label-desc">Write your story, create your own reality, let others add to it, where will you start?</span>
			<textarea class="textarea" ng-model="story" name="story"></textarea>
			<div class="half">
				<label class="lbl">Author </label>
				<span class="label-desc">Who do you want everyone to know you as?</span>
				<input type="text" name="author" class="story-author" ng-model="author">
			</div>

			<div class="half">
				<label class="lbl">Genre </label>
				<span class="label-desc">But wait, what flavor will it be?</span>
				<select name="genre" class="story-genre">
					<option value=""></option>
					<option value="Comedy">Comedy</option>
					<option value="Mystery">Mystery</option>
					<option value="Horror">Horror</option>
					<option value="Thriller">Thriller</option>
				</select>
			</div>

			<input type="submit" name="" class="submit">
		</form>

	</div>
</div>

