
<div class="profile-header">

	<div>

		<h1 class="title profile-title">{{ user.username }}</h1>

	</div>

	<div>

		<div ng-show="user.isAdmin" class="is-admin">
			Admin
		</div>

		<div ng-show="user.isScribe" class="is-scribe">
			Scribe
		</div>

		<div ng-show="user.isWriter" class="is-writer">
			Writer
		</div>

		<div ng-show="user.isAuthor" class="is-author">
			Author
		</div>

	</div>

</div>

<div class="cont margin-top">
	<div class="cont-inner">

		<div class="user-stats">
			<h3>Story creations: <span>{{ user.stories }}</span></h3>
			<h3>Story contributions: <span>{{ user.contributions }}</span></h3>
		</div>


		<div class="story" ng-repeat="story in stories | orderBy: sortBy.value">
			<div class="story-inner cont-inner">

				<story-preview></story-preview>

				<a href="#/stories/{{story._id}}">
					<button class="submit-inv">Continue...</button>
				</a>

			</div>
		</div>

	</div>
</div>

