<div class="display-flex">

    <div class="auth-cont">

        <h1 class="title">Register</h1>

        <form ng-submit="register()" class="form" name="registerForm">

            <label class="lbl">Username</label>
            <input 
                type="text" 
                name="username" 
                class="auth-textbox" 
                placeholder="JJ Storyman" 
                ng-model="username" 
                ng-minlength="3"
                required
            >

            <label class="lbl">Password</label>
            <input 
                type="password" 
                name="password" 
                class="auth-textbox" 
                placeholder="* * * * * * * * * *" 
                ng-model="password" 
                ng-minlength="3"
                required
            >
            
            <label class="lbl">Email</label>
            <input 
                type="text" 
                name="email" 
                class="auth-textbox" 
                placeholder="jjstoryman@gmail.com" 
                ng-model="email" 
            >


            <input type="submit" name="" class="submit">

        </form>

        <p class="para text-center">Already have an account? <a href="#login" class="link yellow">Login Here</a></p>

    </div>

</div>
