<div class="cont margin-v-25">
	<div class="cont-inner">
		<h1 class="title">Story Feed</h1>
		<p class="para">Where you can find all the stories that we have ever had the plesure of creating together. Stories that are complete and those yet to be complete are both listed for you to enjoy or add to.</p>
	</div>
</div>

<div class="cont">
	<div class="order-by">
		<label class="lbl inline">Order by:</label>
		<select 
			class="form-dropdown inline"
			ng-options="order.text for order in orders" 
			ng-model="sortBy"
		>
		</select>
	</div>

	<div class="story" ng-repeat="story in stories | orderBy: sortBy.value">
		<div class="story-inner cont-inner">

			<story-preview></story-preview>
			
			<stat-bar></stat-bar>

			<a href="#/stories/{{story._id}}">
				<button class="submit-inv">Continue...</button>
			</a>

		</div>
    </div>
</div>

