
<div class="statistics-bar">
	<div class="ratings">
		<button ng-click="addUpvote(story._id)" class="upvote">&#9651;</button>
		<button ng-click="addDownvote(story._id)" class="downvote">&#9651;</button>
	</div>

	<div>
		<p class="statistics-item upvote-display">+{{ story.positive }}</p>
		<p class="statistics-item downvote-display">-{{ story.negative }}</p>
		<p class="statistics-item">Views: {{ story.views }}</p>
	</div>
</div>

<!--
<div>
	<p class="para">RATING: {{ story.rating }}</p>
</div>-->

